<table class="c-table__contacts">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% if(contacts) { %>
      <% for(let contact of contacts) {%>
        <tr>
          <td><%= contact.name%></td>
          <td><%= contact.surname%></td>
          <td><%= contact.email%></td>
          <td><%= contact.tel%></td>
          <td>
            <a class="edit" href="/contacts/edit?id=<%= contact._id %>">Editar</a>
            <a class="delete" href="/contacts/delete/<%= contact._id %>">Deletar</a>
          </td>
        </tr>
      <% } %>
    <% } %>
  </tbody>
</table>