<%- include("./includes/head.ejs") %>
  <link rel="stylesheet" href="../../assets/css/contacts.css">
  <title>Contato</title>
  </head>

  <body>
    <section class="c-container" data-container>

      <%- include("./includes/header") %>
        <h1><%- action == 'edit' ? 'Editar' : 'Criar' %> Contato</h1>
        <main class="c-main">
      
          <div class="c-messages">
            <%- include("./includes/messages") %>
          </div>

          <div class="c-container__content">
            <% if( action === "edit" ) { %>
              <form action="/contacts/update?id=<%= id %>" method="POST">
            <% } else { %>
              <form action="/contacts/register" method="POST">
            <% } %>
                  <input type="text" name="name" placeholder="Nome" required>
                  <input type="text" name="surname" placeholder="Sobrenome" required>
                  <input type="email" name="email" placeholder="Email" required>
                  <input type="tel" name="tel" placeholder="Telefone" required>
                  <button type="submit"><%- action == 'edit' ? 'Salvar' : 'Adicionar' %></button>
              </form>
          </div>
        </main>
    </section>
  </body>

  </html>