<%- include("./includes/head") %>
  <link rel="stylesheet" href="../../assets/css/login.css">
  <script src="../../assets/js/login.js" defer></script>
  <title>Login / registration</title>
  </head>

  <body>
    <section class="c-container">
      <%- include("./includes/header") %>
      <main class="c-main">

        <div class="c-messages">
          <%- include("./includes/messages") %>
        </div>

        <div class="c-container__content <%= page %>">

          <!-- FIRST CONTENT -->
          <div class="c-first__card card">
            <div class="c-first_column column">
              <h2 class="title">Bem Vindo!!</h2>
              <p class="description">Caso já tenha uma conta, clique no botão abaixo para fazer login...</p>
              <button class="btn" data-toggle="login">Entrar</button>
            </div>

            <div class="c-second_column column">
              <h2 class="title">Criar Conta</h2>
              <div class="social-media">
                <ul>
                  <li>
                    <a href="#">
                      <img src="../../icons/fb.png" alt="Facebook icon">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../icons/go.png" alt="Google icon">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../icons/gh.png" alt="GitHub icon">
                    </a>
                  </li>
                </ul>
              </div>
              <p class="description">ou preencha os campos abaixo para criar uma conta.</p>
              <form action="/login/registration" method="POST">
                <input type="text" name="username" placeholder="Nome" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Senha" required pattern=".{6,12}"
                  title="Senha precisa ter entre 6 e 12 caracteres">
                <button type="submit" class="btn">Cadastrar</button>
              </form>
            </div>
          </div>

          <!-- SECOND CONTENT -->
          <div class="c-second__card card">
            <div class="c-second_column column">
              <h2 class="title">Fazer Login</h2>
              <div class="social-media">
                <ul>
                  <li>
                    <a href="#">
                      <img src="../../icons/fb.png" alt="Facebook icon">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../icons/go.png" alt="Google icon">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="../../icons/gh.png" alt="GitHub icon">
                    </a>
                  </li>
                </ul>
              </div>
              <p class="description">ou insira seus dados abaixo para logar na conta.</p>
              <form action="/login/login" method="POST">
                <input type="text" value="<%= user.username %>" name="username" placeholder="Nome" required>
                <input type="password" value="<%= user.password %>" name="password" placeholder="Senha" required>
                <a href="#">Esqueceu sua senha?</a>
                <button type="submit" class="btn">Logar</button>
              </form>
            </div>

            <div class="c-first_column column">
              <h2 class="title">Hello!!</h2>
              <p class="description">Caso ainda não tenha uma conta, clique no botão abaixo para criar uma...</p>
              <button class="btn" data-toggle="registration">Cadastre-se</button>
            </div>
          </div>

        </div>
      </main>

    </section>

  </body>

  </html>