<%- include("./includes/head") %>
<link rel="stylesheet" href="/assets/css/profile.css">
<link rel="stylesheet" href="/assets/css/contacts.css">

  <title>Perfil</title>
  </head>

  <body>
    <section class="c-container" data-container>
      <%- include("./includes/header") %>
      <h1>
        Bem vindo <%= user.username %>
      </h1>
      <main class="c-main">

        <div class="c-messages">
          <%- include("./includes/messages") %>
        </div>

        <div class="c-container__content">
          <%- include("./includes/show-contacts") %>
        </div>

      </main>

      <footer data-add-contact>
        <a href="/contacts/index?action=register">+</a>
      </footer>

    </section>

  </body>

  </html>